div.provider {
    display: flex;
    margin-left: 20px;
}

button {
    height: 20px;
    width: 20px;
    align-self: center;
}

h3.provider-name {
    margin-right: 100px;
}

div.provider-card {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}